.DS_Store

*~
*.elc

*bak
*bkp

config.el
/elpa/
/my/save

/eshell/
/server/
/tutorial/
.mc-lists.el

auto-save-list
recentf
savehist
saveplace
idohist
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.smex-items
projectile-bookmarks.eld
session*

tramp

